#cubo-3d-container {
    border-radius: 15px;
    height: 500px;
    position: relative;
    overflow: hidden;
    box-shadow: inset 0 2px 10px rgba(0,0,0,0.1);
}

#cubo-3d-container canvas {
    display: block;
    width: 100% !important;
    height: 100% !important;
}